<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand fw-semibold" href="#">Giftify</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cadeau_liste')}}">Mes Listes de Cadeau</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_cadeau') }}">Catalogue des Cadeaux</a>
                </li>
            </ul>
        </div>
    </div>
</nav>